
body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #717171;
  background-color: #f3f5f9;
}

@media (min-width: 768px) {
  html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
  }

  .hbox>aside,.hbox>section {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none;
  }

  .hbox>aside.show,.hbox>aside.hidden-sm,.hbox>section.show,.hbox>section.hidden-sm {
    display: table-cell !important;
  }

  .hbox.stretch {
    height: 100%;
  }

  .vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .vbox>section,.vbox>footer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .vbox>header ~ section {
    top: 50px;
  }

  .vbox>section.w-f {
    bottom: 50px;
  }

  .vbox>footer {
    top: auto;
    z-index: 1000;
  }

  .vbox>footer ~ section {
    bottom: 50px;
  }

  .vbox.flex>header,.vbox.flex>section,.vbox.flex>footer {
    position: inherit;
  }

  .vbox.flex>section {
    display: table-row;
    height: 100%;
  }

  .vbox.flex>section>section {
    position: relative;
    height: 100%;
    overflow: auto;
  }

  .ie .vbox.flex>section>section {
    display: table-cell;
  }

  .vbox.flex>section>section>section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .aside-xs {
    width: 48px;
  }

  .aside {
    width: 180px;
  }

  .aside-sm {
    width: 150px;
  }

  .aside-md {
    width: 200px;
  }

  .aside-lg {
    width: 250px;
  }

  .aside-xl {
    width: 300px;
  }

  .scrollable {
    -webkit-overflow-scrolling: touch;
  }
}

.hbox>aside,.hbox>section {
  padding: 0 !important;
}

.header,.footer {
  min-height: 50px;
  padding: 0 15px;
}

@media print {
  html,body,.hbox,.vbox {
    height: auto;
  }

  .vbox>section,.vbox>footer {
    position: relative;
  }
}

.nav-primary>ul>li>a {
  padding: 15px;
  position: relative;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.05) !important;
  border-top: 1px solid rgba(255,255,255,0.05) !important;
  transition: color .3s ease-in-out 0;
}


.nav-primary>ul>li>a>.badge {
  font-size: 11px;
  padding: 3px 6px;
}

.bg-light .nav-primary>ul>li>a {
  text-shadow: 0 1px 1px #fff;
}

.bg-light .nav-primary>ul>li>a:hover {
  background-color: #4c5566 !important;
}

.nav-primary>ul>li:first-child>a {
  border-top-width: 0;
}

.nav-primary>ul>li.dropdown-submenu:hover>a,.nav-primary>ul>li.dropdown-submenu:focus>a,.nav-primary>ul>li>a:hover,.nav-primary>ul>li>a:focus,.nav-primary>ul>li>a:active,.nav-primary>ul>li.active>a {
  color: #fff;
  background-color: inherit;
  background-color: rgba(0,0,0,0.075) !important;
  text-shadow: none;
}

.bg-light .nav-primary>ul>li.dropdown-submenu:hover>a,.bg-light .nav-primary>ul>li.dropdown-submenu:focus>a,.bg-light .nav-primary>ul>li.active>a {
  background-color: #4c5566 !important;
}

.nav-primary>ul>li.dropdown-submenu>a:after {
  display: none;
}

.nav-primary>ul>li>.dropdown-menu {
  border-radius: 0;
}

@media (min-width: 768px) {
  #nav {
    z-index: 1000;
    -webkit-transition: width .25s;
    transition: width .25s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  #nav .nav-avatar .thumb-sm {
    width: 30px;
  }

  #nav .nav-avatar .arrow {
    left: 15px;
  }

  #nav>.vbox>.footer {
    box-shadow: inset 0 1px 0 rgba(40,50,60,0.15);
  }

  #nav.nav-vertical {
    width: 80px;
  }

  #nav.nav-vertical.only-icon {
    width: 60px;
  }

  #nav.nav-vertical.only-icon .nav-primary>ul>li>a i {
    margin: 5px 0;
  }

  #nav.nav-vertical.only-icon .nav-primary>ul>li>a span {
    display: none;
  }

  #nav.nav-vertical.only-icon .nav-avatar .arrow {
    left: 12px !important;
  }

  #nav.nav-vertical .nav-avatar .caret {
    display: none;
  }

  #nav.nav-vertical .nav-avatar>.thumb-sm {
    width: 100%;
  }

  #nav.nav-vertical .nav-avatar .arrow {
    left: 27px !important;
  }

  #nav.nav-vertical .nav-msg {
    top: 5px;
  }

  #nav.nav-vertical .nav-msg .arrow.left {
    top: 20px;
  }

  #nav.nav-vertical .nav-msg .dropdown-menu {
    top: -8px;
  }

  #nav.nav-vertical .nav-brand {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  #nav.nav-vertical .nav-primary>ul>li>a {
    position: relative;
    padding: 12px 0;
    font-size: 11px;
    text-align: center;
  }

  #nav.nav-vertical .nav-primary>ul>li>a span {
    display: block;
  }

  #nav.nav-vertical .nav-primary>ul>li>a i {
    display: block;
    font-size: 19px;
    margin: 4px 0;
  }

  #nav.nav-vertical .nav-primary>ul>li>a .badge {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  #nav.nav-vertical>.vbox>.footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  #nav.nav-vertical .hidden-vertical {
    display: none;
  }
}

.bg-primary {
  background-color: #413C58;
  color: #dbd8e9;
}

.bg-primary.lt,.bg-primary .lt {
  background-color: #605598;
}

.bg-primary.lter,.bg-primary .lter {
  background-color: #695ea5;
}

.bg-primary.dk,.bg-primary .dk {
  background-color: #524982;
}

.bg-primary.dker,.bg-primary .dker {
  background-color: #4b4276;
}

.bg-primary a {
  color: #eae9f2;
}

.bg-primary a:hover {
  color: #fff;
}

.bg-primary a.list-group-item:hover,.bg-primary a.list-group-item:focus {
  background-color: inherit;
}

.bg-primary .nav li>a {
  color: #bdb8d7;
}

.bg-primary .nav li>a:hover {
  background-color: #4f467d;
}

.bg-primary .nav li>ul.dropdown-menu>li>a {
  color: #7166a9;
}

.bg-primary .nav li>ul.dropdown-menu>li>a:hover {
  color: #fff;
}

.bg-primary .nav .open>a {
  background-color: #4f467d;
}

.bg-primary.navbar .nav>li.active>a {
  color: #fff;
  background-color: #4f467d;
}

.bg-primary .open>a,.bg-primary .open>a:hover,.bg-primary .open>a:focus {
  color: #fff;
}

.bg-primary .text-muted {
  color: #ccc8e0;
}

.bg-success {
  background-color: #92cf5c;
  color: #fbfdfa;
}

.bg-success.lt,.bg-success .lt {
  background-color: #9bd36a;
}

.bg-success.lter,.bg-success .lter {
  background-color: #a6d87a;
}

.bg-success.dk,.bg-success .dk {
  background-color: #89cb4e;
}

.bg-success.dker,.bg-success .dker {
  background-color: #80c740;
}


.bg-info a.list-group-item:hover,.bg-info a.list-group-item:focus {
  background-color: inherit;
}

.bg-info .nav li>a {
  color: #fff;
}

.bg-info .nav li>a:hover {
  background-color: #45c8f1;
}

.bg-info .nav li>ul.dropdown-menu>li>a {
  color: #10a9da;
}

.bg-info .nav li>ul.dropdown-menu>li>a:hover {
  color: #fff;
}

.bg-info .nav .open>a {
  background-color: #45c8f1;
}

.bg-info.navbar .nav>li.active>a {
  color: #fff;
  background-color: #45c8f1;
}

.bg-info .open>a,.bg-info .open>a:hover,.bg-info .open>a:focus {
  color: #fff;
}

.bg-info .text-muted {
  color: #fff;
}

.bg-warning {
  background-color: #fcc44d;
  color: #fff;
}

.bg-warning.lt,.bg-warning .lt {
  background-color: #fcca5f;
}

.bg-warning.lter,.bg-warning .lter {
  background-color: #fdd073;
}

.bg-warning.dk,.bg-warning .dk {
  background-color: #fcbe3b;
}

.bg-warning.dker,.bg-warning .dker {
  background-color: #fbb82a;
}

.bg-warning a {
  color: #fff;
}

.bg-warning a:hover {
  color: #fff;
}

.bg-warning a.list-group-item:hover,.bg-warning a.list-group-item:focus {
  background-color: inherit;
}

.bg-warning .nav li>a {
  color: #fffefd;
}

.bg-warning .nav li>a:hover {
  background-color: #fcbc34;
}

.bg-warning .nav li>ul.dropdown-menu>li>a {
  color: #df9904;
}

.bg-warning .nav li>ul.dropdown-menu>li>a:hover {
  color: #fff;
}

.bg-warning .nav .open>a {
  background-color: #fcbc34;
}

.bg-warning.navbar .nav>li.active>a {
  color: #fff;
  background-color: #fcbc34;
}

.bg-warning .open>a,.bg-warning .open>a:hover,.bg-warning .open>a:focus {
  color: #fff;
}

.bg-warning .text-muted {
  color: #fffefd;
}

.bg-danger {
  background-color: #fb6b5b;
  color: #fff;
}

.bg-danger.lt,.bg-danger .lt {
  background-color: #fb7b6c;
}

.bg-danger.lter,.bg-danger .lter {
  background-color: #fc8d80;
}

.bg-danger.dk,.bg-danger .dk {
  background-color: #fb5b4a;
}

.bg-danger.dker,.bg-danger .dker {
  background-color: #fa4c38;
}

.bg-danger a {
  color: #fff;
}

.bg-danger a:hover {
  color: #fff;
}

.bg-danger a.list-group-item:hover,.bg-danger a.list-group-item:focus {
  background-color: inherit;
}

.bg-danger .nav li>a {
  color: #fff;
}

.bg-danger .nav li>a:hover {
  background-color: #fa5542;
}

.bg-danger .nav li>ul.dropdown-menu>li>a {
  color: #ea1d06;
}

.bg-danger .nav li>ul.dropdown-menu>li>a:hover {
  color: #fff;
}

.bg-danger .nav .open>a {
  background-color: #fa5542;
}

.bg-danger.navbar .nav>li.active>a {
  color: #fff;
  background-color: #fa5542;
}

.bg-danger .open>a,.bg-danger .open>a:hover,.bg-danger .open>a:focus {
  color: #fff;
}

.bg-danger .text-muted {
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: #717171;
}

