
body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #717171;
  background-color: #f3f5f9;
}

@media (min-width: 768px) {
  html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
  }

  .hbox>aside,.hbox>section {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none;
  } 

  .hbox.stretch {
    height: 100%;
  }

  .vbox.flex>header,.vbox.flex>section,.vbox.flex>footer {
    position: inherit;
  }

  .aside-xl {
    width: 300px;
  }

  .scrollable {
    -webkit-overflow-scrolling: touch;
  }
}

.header,.footer {
  min-height: 55px;
  padding: 6px 15px;
}

.nav-primary>ul>li>a {
  padding: 15px;
  position: relative;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.05) !important;
  border-top: 1px solid rgba(255,255,255,0.05) !important;
  transition: color .3s ease-in-out 0;
}


.nav-primary>ul>li.dropdown-submenu:hover>a,.nav-primary>ul>li.dropdown-submenu:focus>a,.nav-primary>ul>li>a:hover,.nav-primary>ul>li>a:focus,.nav-primary>ul>li>a:active,.nav-primary>ul>li.active>a {
  color: #fff;
  background-color: inherit;
  background-color: rgba(0,0,0,0.075) !important;
  text-shadow: none;
}

@media (min-width: 768px) {
  #nav {
    z-index: 1000;
    -webkit-transition: width .25s;
    transition: width .25s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  #nav .nav-avatar .thumb-sm {
    width: 30px;
  }

  #nav .nav-avatar .arrow {
    left: 15px;
  }

  #nav>.vbox>.footer {
    box-shadow: inset 0 1px 0 rgba(40,50,60,0.15);
  }

  #nav.nav-vertical {
    width: 80px;
  }

  #nav.nav-vertical.only-icon {
    width: 60px;
  }

  #nav.nav-vertical.only-icon .nav-primary>ul>li>a i {
    margin: 5px 0;
  }

  #nav.nav-vertical.only-icon .nav-primary>ul>li>a span {
    display: none;
  }


  #nav.nav-vertical .nav-brand {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  #nav.nav-vertical .nav-primary>ul>li>a {
    position: relative;
    padding: 12px 0;
    font-size: 11px;
    text-align: center;
  }

  #nav.nav-vertical .nav-primary>ul>li>a span {
    display: block;
  }

  #nav.nav-vertical .nav-primary>ul>li>a i {
    display: block;
    font-size: 19px;
    margin: 4px 0;
  }

  #nav.nav-vertical .nav-primary>ul>li>a .badge {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  #nav.nav-vertical>.vbox>.footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  #nav.nav-vertical .hidden-vertical {
    display: none;
  }
}


.bg-primary {
  background-color: #413C58;
  color: #dbd8e9;
}

.bg-primary a {
  color: #eae9f2;
}

.bg-white {
  background-color: #fff;
  color: #717171;
}

header h4 {
    margin-top: 2px;
    margin-bottom: 10px;
}

header .fa {
  color: #413C58;
}

.nav-tabs{
  border: none;
}

.nav-tabs > li {
    float: left;
    text-align: center;
}

.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
  text-transform: uppercase;
  background: white;
  margin-right: 0px;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
  border: none;
  background: #f3f5f9
}

#signup-rotate .wrapper.front {
    z-index: 3;
}

#signup-rotate .wrapper {
    margin: 0 auto;
    width: 51%;
    margin-top: 25px;
    background: #fff;
    padding: 15px 50px 25px 50px;
    border-radius: 5px;
    border-top: 6px solid #413C58;
    position: absolute;
    left: 0;
    right: 0;
}

#signup-rotate .wrapper-doctor {
    margin: 0 auto;
    width: 51%;
    margin-top: 200px;
    padding: 15px 50px 25px 50px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
}

#signup-rotate .wrapper-documents {
    margin: 0 auto;
    width: 51%;
    margin-top: 25px;
    background: #fff;
    padding: 15px 50px 25px 50px;
    border-radius: 5px;
    border-top: 6px solid #413C58;
    left: 0;
    right: 0;
}


.btn-primary{
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  width: 100%;
  border: 1px solid #413C58;
  border-radius: 0px;
  color: #413C58;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 20px;
}

.btn-primary:hover {
  background-color: #413C58;
  color: #ffffff;
}

.databases {
  margin-top: 20px;
}

pre{
  border-radius: 0px;
  border: none;
}

ul#tabs li a {
  color: #413C58;
}

.nav-tabs.nav-justified > li > a:hover {
  border-top: 1px solid white;
}

/* Bootstrap overrides */

@media (min-width: 768px)
.nav-tabs.nav-justified > .active > a, 
.nav-tabs.nav-justified > .active > a:hover, 
.nav-tabs.nav-justified > .active > a:focus {
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified > .active > a, 
.nav-tabs.nav-justified > .active > a:hover, 
.nav-tabs.nav-justified > .active > a:focus {
  border: none;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: none;
    border-radius: 0;
  }
}